body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

form .error {
  input {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
  }
  .help-inline {
    color: #B94A48;
  }
}

.providers {
	margin: 5px 0;
	list-style: none;
	li {
		display: inline;
	}
}

.help-block {
	margin: -10px 0 10px 0;
	font-size: 10px;
	color: #ccc !important;
}

h1 {
	margin-bottom: 20px !important;
}

.hero-unit {
        background-image: url(/assets/img/hopper4.jpg);
        padding: 60px;
  		margin-bottom: 30px;
  		background-repeat: no-repeat;
  		-webkit-border-radius: 6px;
  		-moz-border-radius: 6px;
  		border-radius: 6px;    
  		background-position:center; 
}