@main("Benchmarks") {
      <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="content">
          <img src="/assets/img/benchmark1.png" alt="Bench1">        
          <img src="/assets/img/benchmark2.png" alt="Bench2" style="margin:auto; margin-left: 150px" >        
        </div>
}