@(localUser: models.User = null, msg: String)

@main(Messages("playauthenticate.navigation.restricted"), "restricted") {
    
    <h1>@Messages("playauthenticate.navigation.restricted")</h1>
    <p>
        @Messages("playauthenticate.restricted.secrets")
        @localUser.firstName
    </p>

    </br>
    @msg
}