@main(Messages("playauthenticate.index.title")) {
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class="content">
          <h1>@Messages("playauthenticate.index.intro")</h1>
          <h2>@Messages("playauthenticate.index.intro_2")</h2>
          <br/>
           <p> <FONT style="BACKGROUND-COLOR: white">@Messages("playauthenticate.index.intro_3") </FONT></p>

          <button class="btn-danger btn-large" onclick="Filepicker_pickMultiple()">Try it!</button>
          <!-- Selector 1 -->
          <select id="selector-action" class="span2 select-large">
            <option value="1">Resize</option>
            <option value="2">Filter</option>
            <option value="3">Compress</option>
            <option value="4">Sexify</option>
          </select>
          <!-- Selector 1 -->
          <select id="selector-action2" class="span2">
            <option value="1">Type1</option>
            <option value="2">Type2</option>
            <option value="3">Type3</option>
          </select>


        </div>
      </div>

      <!-- Row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Use</h2>
           <p>Message Passing Interface (MPI) is a standardized and portable message-passing system designed by a group of researchers from academia and industry to function on a wide variety of parallel computers</p>
          <p><a class="btn" href="http://en.wikipedia.org/wiki/Message_Passing_Interface">@Messages("playauthenticate.index.details") &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Parallel</h2>
           <p>MPI provides parallel hardware vendors with a clearly defined base set of routines that can be efficiently implemented. </p>
          <p><a class="btn" href="http://en.wikipedia.org/wiki/Graphics_processing_unit">@Messages("playauthenticate.index.details") &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Processing</h2>
          <p>MPI's goals are high performance, scalability, and portability. 
            <br/>
            MPI remains the dominant model used in high-performance computing today.</p>
          <p><a class="btn" href="http://mpi4py.scipy.org/">@Messages("playauthenticate.index.details") &raquo;</a></p>
        </div>
      </div>
    }