@(localUser: models.User = null, msg: String, inputForm: Form[Search.Parameters]) 

@main(Messages("playauthenticate.navigation.restricted"), "restricted") {
    
    <h1>@Messages("playauthenticate.search.headline")</h1>
    <p>
        @Messages("playauthenticate.search.unleash")
        @localUser.firstName!
    </p>

    </br>

 
    <div id="search" class="row">
      <div class="span3">
        @* Display proprietary search form *@
      	@helper.form(routes.Application.doSearch) {
      	
              @if(inputForm.hasGlobalErrors) { 
                  <p class="error"> 
 		            <span  class="label label-important">@inputForm.globalError.message</span> 
 		         </p> 
              } 
           	  <p>
           	      <input type="entity" name="entity" placeholder="Search Query" value="@inputForm("entity").value">	  
           	  </p>	  
 	  
              <input type="submit" value="@Messages("playauthenticate.search.submit")" class= "btn btn-primary"> 
     	} 

      </div >
    </div>
 
    	@msg

}